# Dependencies
node_modules

# Builds
dist
coverage
.turbo

# Local env
.env
.env.*
!.env.example

# Logs
*.log
pnpm-debug.log*

# OS / Editors
.DS_Store
.idea
.vscode

# Vite
apps/web/.vite

# Temporary local uploads
apps/api/uploads
